{% extends "kiosk/base.html" %}
{% load staticfiles %}
{% block title %}Create account{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}

    <div class="row">
        <div class="col-lg-4">
            <p><img src="{% static "img/barmaid-ice-cream.png" %}"></p>
        </div>
        <div class="col-lg-8">
            <h1>ICE CREAM KIOSK</h1>
            <p class="lead">Gelato vous offre accès à une pause rafraichissante à travers son kiosk à glaces innovant.
            Avec gelato, vous disposez d'un accès pratique 24/7 à notre sélection de glaces durant toute la saison.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Posez votre badge sur le lecteur pour commencer</a></p>
        </div>
    </div>

{% endblock %}