{% extends "kiosk/base.html" %}
{% load staticfiles %}
{% block title %}Create account{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script>
     var openDoorUrl = "http://127.0.0.1:8080/open/{{ transaction.id }}/";
     $.getJSON(openDoorUrl, function (response) {
         var jsonData = response;
     });
     $.getJSON(openDoorUrl, function( response ) {
        jsonData = response;
     });
        var kioskMessage = response.message;
        console.log('Kiosk Message : ', kioskMessage);

        var kioskSuccess = response.success;
        console.log('Kiosk Success : ', kioskSuccess);

    </script>
    {{ block.super }}
    <div class="row">
        <div class="col-lg-8">
            <h2>{{ product.name }}</h2>
            <div class="row">
                <div class="col-lg-5">
                    <table class="table">
                        <tr><td>Calories</td><td>{{ product.calorie }} kcal</td></tr>
                        <tr><td>Size</td><td>{{ product.weight }} ml</td></tr>
                        <tr>
                            <td><img src="{{ product.category.picture.url }}" alt="{{ product.category.name }}" title="{{ product.category.name }}" /></td>
                            <td><img src="{{ product.brand.logo.url }}" class="logo-brands" alt="{{ product.brand.name }}" title="{{ product.brand.name }}" /></td>
                        </tr>
                    </table>
                    <p>La transaction a bien été enregistrée, veuillez retirer votre glace du kiosk.</p>
                    <p>Votre glace se trouve à l'emplacement: {{ transaction.storage }}</p>
                    {{ showcase|safe }}
                    http://127.0.0.1:8080/open/{{ transaction.id }}/
                </div>
                <div class="col-lg-3">
                    <p><img src="{{ product.picture.url }}" class="product-image" alt="{{ product.name }}" title="{{ product.name }}" /></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2>{{ user }}</h2>
            <table class="table">
                <tr><td><img src="{% static 'img/$-picto.png' %}" alt="kcal" name="kcal" /></td><td class="big-text text-right">{{ user.balance|default:0|floatformat:"2" }}</td></tr>
                <tr><td><img src="{% static 'img/kcal-picto.png' %}" alt="kcal" name="kcal" /></td><td class="big-text text-right">{{ user.kcal }}</td></tr>
            </table>
            <p></p>
            <p></p>
            <h2>Derniers achats</h2>
            <table class="table">
            {% for object in product_transactions %}
                <tr>
                    <td>{{ object.product }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}