{% extends "kiosk/base.html" %}
{% load staticfiles %}
{% load kiosk_extras %}
{% block title %}Create account{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-8">
            <h2>Sélection actuelle</h2>
            <table class="table table-hover">
                {% for product in products %}
                    <tr data-url="{% url 'kiosk_select' product.id %}">
                        <td><img src="{{ product.k_picture.url }}" /></td>
                        <td class="product-name">{{ product.k_name }}<br/><img src="{{ product.category.picture.url }}" height="50px" />&nbsp;<img src="{{ product.brand.logo.url }}" height="50px" /></td>
                        <td class="big-text text-right">{{ product.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-4">
            <h2>{{ user }}</h2>
            <table class="table">
                <tr><td><img src="{% static 'img/$-picto.png' %}" alt="kcal" name="kcal" /></td><td class="big-text text-right">{{ user.balance|default:0|floatformat:"2" }}</td></tr>
                <tr><td><img src="{% static 'img/kcal-picto.png' %}" alt="kcal" name="kcal" /></td><td class="big-text text-right">{{ user.kcal }}</td></tr>
            </table>
            <p></p>
            <p></p>
            <h2>Derniers achats</h2>
            <table class="table">
            {% for object in product_transactions %}
                <tr>
                    <td>{{ object.product }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script>
      jQuery(document).ready(function($) {
        $(".table-hover tr").click(function() {
            window.document.location = $(this).attr('data-url');
      });
});
    </script>
{% endblock %}