body{
background-color: #e4e4e4;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}


.navbar {
  position: relative;
  margin-bottom: 20px;
  margin-top:20px;
  border: 1px solid transparent;
  font-size:26px;
}

.navbar-default {
  background-color: #828181;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #101010;
    font-weight:bold;
    margin-right:40px;
}

.nav-pills{

    font-size:18px;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #101010;
    background-color: #828181;
    font-weight: bold;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1e1e1e;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #828181;
}


.btn-default {
    width: 200px;
    height: 200px;
    background-color: #828181;
    color:#000000;
    font-size: 20px;
    font-weight: bold;

}


.btn-success .badge {
    color: #1a1a1a;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #828181;
    border-color: #828181;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #828181;
    border-color: #e4e4e4;
    text-transform: uppercase;
}



div#texteReap {
	font-size: 20px;
	}


.glyphicon.glyphicon-arrow-left {
    font-size: 55px;
}