body{
background-color: #e4e4e4;
}


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  margin-top:20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #828181;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #101010;
    font-weight:bold;
}



.btn-default {
    width: 200px;
    height: 200px;
    background-color: #828181;
    color:#000000;
    font-size: 20px;
    font-weight: bold;

}
