{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <h2>Products list</h2>
    <table>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    {% for object in object_list %}
        <tr>
            <td><img src="{{ object.picture.url }}" /></td>
            <td><a href="{% url 'product_detail' object.id %}">{{ object.name }}</a></td>
            <td>{{ object.stock }}</td>
            <td>{{ object.price|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}