{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-10">
            Récapitulatif :<br>
            Glace sélectionnée :<br>
            libelle : {{gl.libelle}}<br>
            datePeremption : {{gl.datePeremption}}<br>
            calories : {{gl.calories}}<br>
            prix : {{gl.prixVente}}
            <p>
                <a href="{% url 'validationAchat' idGlace=gl.id idClient=user.id %}"><input type="button" value="Acheter la glace"></a>
            </p>
            </div>
    </div>
{% endblock %}