{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
    {% endfor %}
</ul>
{% endif %}
    <div class="row">
          <div class="col-lg-8">
              <h1>Créer une demande d'argent</h1>
              <form action="{% url 'demande' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Effectuer la demande" />
              </form>
              <div class="table-responsive">
                  <h1>Demandes à traiter</h1>
                  <table class="table">
                      <tr>
                          <th>Date de la demande</th>
                          <th>Demandeur</th>
                          <th>Montant</th>
                          <th>Souhait de remboursement</th>
                      </tr>
                      {% for dat in demandeATraiter %}
                     <tr>
                         <td><a href="{% url 'traiterDemande' idDemande=dat.id%}">{{dat.dateDemande}}</a></td>
                         <td>{{dat.clientDemandeur}}</td>
                         <td>{{dat.montant}}</td>
                         <td>{{dat.mode}}</td>
                     </tr>
                  {% endfor %}
                  </table>
              </div>
          </div>
          <!--

              <h1>Créer une demande d'argent</h1>
              Demande la somme à :
              <select class="form-control" style="width:22em">
                  {% for u in listUsers %}
                      <option>{{u.prenom}} {{u.nom}}</option>
                  {% endfor %}
              </select>
              <br>
              Montant souhaité : <input type="number" class="form-control" style="width:22em">
              <br>
                Je souhaite rembourser à l'aide de :
              <select class="form-control" style="width:22em">
              {% for m in mode %}
                      <option>{{m.libelle}}</option>
                  {% endfor %}
                  </select>
              <br>
              <button type="button" class="btn btn-secondary">Envoyer la demande</button>

          </div>-->
{% if envoi %}Votre demande a bien été envoyée !{% endif %}
        <div class="col-lg-4">
              <div class="table-responsive">
                  <h1>Informations personnelles</h1>
                  <table class="table">
                      <tr>
                          <td>Prénom</td>
                          <td>{{user.prenom}}</td>
                      </tr>
                      <tr>
                        <td>Nom</td>
                        <td>{{user.nom}}</td>
                      </tr>
                      <tr>
                          <td>Date de naissance</td>
                          <td>{{user.naissance}}</td>
                      </tr>
                      <tr>
                          <td>Mail</td>
                          <td>{{user.mail}}</td>
                      </tr>
                      <tr>
                          <th>Solde</th>
                          <th>{{user.solde}}</th>
                      </tr>
                      <tr>
                          <td>Moyen de remboursement préféré</td>
                          <td>{{user.modePrefere}}</td>
                      </tr>
                  </table>
                  <a href="{% url 'reap' %}"><input type="button" value="Réapprovisionner"></a>
              </div>
          </div>
      </div>
    <div class="row">
        <div class="col-lg-5">
            <h1>Historique des demandes</h1>
            <h2>Demandes faites</h2>
            <table class="table">
                <tr>
                    <th>Date de la demande</th>
                    <th>Montant</th>
                    <th>Demandé à</th>
                    <th>Mode</th>
                    <th>Etat</th>
                </tr>

            {% for df in demandesFaites %}
                     <tr>
                         <td>{{df.dateDemande}}</td>
                         <td>{{df.montant}}</td>
                         <td>{{df.clientReceveur}}</td>
                         <td>{{df.mode}}</td>
                         <td>{{df.etat}}</td>
                     </tr>
                  {% endfor %}
                </table>
            <h2>Demandes recues</h2>
            <table class="table">
                <tr>
                    <th>Date de la demande</th>
                    <th>Montant</th>
                    <th>Demandé par</th>
                    <th>Mode</th>
                    <th>Etat</th>
                </tr>

            {% for dr in demandesRecues %}
                     <tr>
                         <td>{{dr.dateDemande}}</td>
                         <td>{{dr.montant}}</td>
                         <td>{{dr.clientDemandeur}}</td>
                         <td>{{dr.mode}}</td>
                         <td>{{dr.etat}}</td>
                     </tr>
                  {% endfor %}
                </table>

        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-5">
            <h1>Mes transactions</h1>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Total</th>
                </tr>
            {% for t in transactions %}
                <tr>
                         <td>{{t.date}}</td>
                         <td>{{t.type}}</td>
                         <td>{{t.total}}</td>
                </tr>
            {% endfor %}
                </table>

            <div class="pagination">
                <span class="step-links">
                    {% if transactions.has_previous %}
                        <a href="?page={{ transactions.previous_page_number }}">Précédent</a>
                    {% endif %}

                    <span class="current">
                        Page {{ transactions.number }} sur {{ transactions.paginator.num_pages }}.
                    </span>

                    {% if transactions.has_next %}
                        <a href="?page={{ transactions.next_page_number }}">Suivant</a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>
{% endblock %}