{% extends "congelateur/base.html" %}
{% load staticfiles %}

{% block content %}
      <div class="row">
          <div class="col-lg-8">
              <h1>Créer une demande d'argent</h1>
              <select class="form-control">
                  {% for u in listUsers %}
                      <option>{{u.prenom}} {{u.nom}}</option>
                  {% endfor %}
              </select>

              </div>

          <div class="col-lg-4">
              <div class="table-responsive">
                  <h1>Informations personnelles</h1>
                  <table class="table">
                      <tr>
                          <td>Prénom</td>
                          <td>{{user.prenom}}</td>
                      </tr>
                      <tr>
                        <td>Nom</td>
                        <td>{{user.nom}}</td>
                      </tr>
                      <tr>
                          <td>Date de naissance</td>
                          <td>{{user.naissance}}</td>
                      </tr>
                      <tr>
                          <td>Mail</td>
                          <td>{{user.mail}}</td>
                      </tr>
                      <tr>
                          <th>Solde</th>
                          <th>{{user.solde}}</th>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
{% endblock content %}