{% extends "congelateur/connect.html" %}
{% load staticfiles %}
{% block title %}DemandeArgent{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
{% for message in messages %}
    <b {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
    {% endfor %}
    <div class="container">
        <section class="row">
            <div class="col-lg-2">
                <ul class="nav nav-pills nav-stacked">
  <li><a href="{% url 'monCompte' %}">Information</a></li>
  <li><a href="{% url 'historique' %}">Mes historiques</a></li>
  <li class="active"><a href="{% url 'demandeArgent' %}">Demandes d'argent <span class="badge">{{nbDemande}}</span></a></li>
  <li><a href="{% url 'modifCompte' %}">Modifier mes informations</a></li>
  <li><a href="{% url 'modifCompte' %}">Modifier mes informations</a></li>
</ul>
            </div>
            <div class="col-lg-10">
                <h3>Créer une demande d'argent</h3>
              <form action="{% url 'demande' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                   <button type="submit" class="btn btn-primary">Effectuer la demande</button>
              </form>

            </div>


        </section>
    </div>


<div class="container">
        <section class="row">
            <div class="col-lg-2"></div>

<div class="col-lg-10">
<div class="table">
                  <h3>Demandes à traiter</h3>
                  <table class="table">
                      <tr>
                          <th></th>
                          <th>Date de la demande</th>
                          <th>Demandeur</th>
                          <th>Montant</th>
                          <th>Souhait de remboursement</th>
                      </tr>
                      {% for dat in demandeATraiter %}
                     <tr>
                         <th><a href="{% url 'traiterDemande' idDemande=dat.id%}"><span class="glyphicon glyphicon-pencil"></span></a></th>
                         <td>{{dat.dateDemande}}</td>
                         <td>{{dat.clientDemandeur}}</td>
                         <td>{{dat.montant}}</td>
                         <td>{{dat.mode}}</td>
                     </tr>
                  {% endfor %}
                  </table>
              </div>
</div>
</section>
    </div>


{% endblock %}