{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
{% if user.is_authenticated %}
{% else %}
    Pour acheter un produit, connectez vous !
{% endif %}


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <b {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
    {% endfor %}
</div>
{% endif %}

    <div class="row">
        <div class="col-lg-10">
            <h2>Liste des produits</h2>
            <table class="table table-hover">
                <tr>
                    <th>Catégorie</th>
                    <th>Libellé</th>
                    <th>Calories</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            {% for g in glaces %}
                <tr>
                    <th>{{g.cat}}</th>
                    <th>{{g.libelle}}</th>
                    <th>{{g.calories}}</th>
                    <th>{{g.prixVente}}</th>
                    <th><img height="50" width="50" src="{{ g.image.url }}" /></th>
                    {% if user.is_authenticated %}
                    <th>
                        <a href="{% url 'achat' idGlace=g.id idClient=user.id %}">Acheter</a>

                    </th>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
            <a href=""><input type="button" value="Réapprovisionner"></a>
        </div>
        <div class="col-lg-2">
            <h3>Trier</h3>


            <h4>Catégorie</h4>
            <ul class="logo-list">
                {% for ca in cats %}
                    <li>
                        <a href="{% url 'listeCat' ca.id %}">{{ca.libelle}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}