{% extends "congelateur/connect.html" %}
{% load staticfiles %}
{% block title %}NouvelAchat{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
{% for message in messages %}
    <b {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
    {% endfor %}
    <div class="container">
        <section class="row">

            {% for sc in sousCats %}
            <div class="col-lg-3"><a href="{% url 'listeProduits' idSousCate=sc.id %}"><button class="btn btn-default">{{sc.libelle}}</button></a></div>
            {% endfor %}
            <br>

        </section>
        <br>

        <section class="row">

            {% for p in produits %}

                <div class="col-lg-3">
                    <img height="150px" class="img-rounded" src="{{ p.image.url }}" /><br>
                    <br><a href="{% url 'effectuerAchat' idGlace=p.id idClient=user.id %}"><button type="button" class="btn btn-success">Acheter <span class="badge">{{p.stockRestant}}</span></button></a>
                </div>

            {% endfor %}


        </section>
<br><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>

    </div>
{% endblock %}