{% extends "congelateur/connect.html" %}
{% load staticfiles %}
{% block title %}NouvelAchat{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="container">
        <section class="row">

            {% for c in cats %}
            <div class="col-lg-3"><a href="{% url 'listeSousCat' idCate=c.id %}"><button class="btn btn-default">{{c.libelle}}</button></a></div>

            {% endfor %}

            <br><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>

        </section>
    </div>
{% endblock %}