{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
    {% endfor %}
</ul>
{% endif %}

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4">
             <form action="{% url 'creerReap' %}" method="post">
                {% csrf_token %}
                <h4>Veuillez sélectionner le produit à entrer :</h4>

                <select class="form-control" name="produits" style="width:22em">
                    {% for p in prod %}
                    <option>{{p.libelle}}</option>
                    {% endfor %}
                </select>
                <br>
                Quantité : <input type="number" name="qte" class="form-control">
                <br>
                         Montant de votre achat pour ces produits <input type="number" step="any" name="montant" class="form-control"><br>


                <button type="submit" class="btn btn-secondary">Effectuer le réapprovisionnement</button>
            </form>

        </div>

    </div>



{% endblock %}