{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-10">
            <b>Situation de la glace :</b><br>
            Congélateur : {{congo}}<br>
            Tiroir : {{tiroir}}<br>
            Bac : {{bac}}<br>
            Solde restant : {{solde}}
            <br>
            <a href="{% url 'home' %}"><input type="button" value="Ok"></a>
        </div>
    </div>
{% endblock %}