{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-6">
            <b>Dès la demande acceptée, votre solde sera débité !</b>


                <h2>Récapitulatif</h2>
                <table class="table-responsive">
                    <tr>
                        <th>Demandeur</th><td>{{demande.clientDemandeur}}</td>
                    </tr>
                    <tr>
                        <th>Date de la demande</th><td>{{demande.dateDemande}}</td>
                    </tr>
                    <tr>
                        <th>Montant souhaité</th><td>{{demande.montant}}</td>
                    </tr>
                    <tr>
                        <th>Souhait de remboursement</th><td>{{demande.mode}}</td></td>
                    </tr>
                </table>
                <h4>Accepter la demande ?</h4>
            <form action="{% url 'reponseDemande' demandeID=demande.id %}" method="post">
                {% csrf_token %}
                <input type= "radio" name="reponse" value="oui" checked> Oui
                <input type= "radio" name="reponse" value="non"> Non

                <h4>Ajouter un commentaire</h4>
                <textarea name="commentaire"></textarea>
                <br>
                <input type="submit" value="Répondre à la demande" />
            </form>
            </div>
        <div class="col-lg-6">
            <h2>Informations à prendre en compte</h2>
            <table class="table-responsive" width="100%">
                    <tr>
                        <th width="45%">Votre solde actuel : </th><td>{{demande.clientReceveur.solde}}</td>
                    </tr>
                <tr>
                        <th>Votre solde si vous acceptez : </th><td>{{solde}}</td>
                    </tr>



                </table>

        </div>
        </div>



{% endblock %}