{% extends "congelateur/base.html" %}
{% load staticfiles %}
{% block title %}Products{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-10">




            <h2>Récapitulatif</h2>
            <table class="table-responsive">
                <tr>
                    <th>Demandeur</th><td>{{demande.clientDemandeur}}</td>
                </tr>
                <tr>
                    <th>Date de la demande</th><td>{{demande.dateDemande}}</td>
                </tr>
                <tr>
                    <th>Montant souhaité</th><td>{{demande.montant}}</td>
                </tr>
                <tr>
                    <th>Souhait de remboursement</th><td>{{demande.mode}}</td></td>
                </tr>
            </table>


            </div>
        </div>



{% endblock %}