{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Create account{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-lg-12">
            <h2>Gelato new account creation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p>You are registered with the following information:</p>
            <dl class="dl-horizontal">
                <dt>Name</dt><dd>{{ user.first_name }} {{ user.last_name }}</dd>
                <dt>Email</dt><dd>{{ user.email }}</dd>
            </dl>
            <p>In order to use Gelato, you need to activate your badge and add funds to your account.</p>
            <h3>Activate your badge</h3>
            <p>To activate your badge, you need to print the activation form, go to the kiosk, put your badge on the reader and,
            when asked, scan the barcode that is printed on the activation form.</p>
            <a href="{% url 'activation_form' %}">Print the activation form</a>
            <h3>Add credits to your account</h3>
            <p>In order to add credits to your account, go to the office 150 and make a cash deposit
             on your account. Any remaining amount will be fully returned at the end of the season.</p>
            <p>You can also add credits with your credit card (VISA, Mastercard), using our PayPal account.</p>
            <a href="{% url 'add_money' %}">Add funds with PayPal</a>
        </div>
        <div class="col-lg-4">
            <p><img class="img-rounded pull-right" src="{% static "img/woman-ice-cream.png" %}"></p>
        </div>
    </div>

{% endblock %}