{% extends "base.html" %}
{% load staticfiles %}
{% block title %}User {{ user.username }}{% endblock %}
{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}
{% block content %}
    {{ block.super }}
    <h2>User {{ user.username }}</h2>
    <dl>
        <dt>Name</dt><dd>{{ user.first_name }} {{ user.last_name }}</dd>
        <dt>Email</dt><dd>{{ user.email }}</dd>
        <dt>Card UID</dt><dd>{{ user.card }}</dd>
        <dt>Balance</dt><dd>{{ user.balance|floatformat:"2" }}</dd>
        <dt>Last login</dt><dd>{{ user.last_login }} [user is_active: {{ user.is_active }}]</dd>
    </dl>
    <h3>Financial transactions</h3>
    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Product</th>
            <th>Banker</th>
            <th>Amount</th>
        </tr>
    {% for object in financial_transactions %}
        <tr>
            <td>{{ object.created }}</td>
            <td>{{ object.get_financial_transaction_type_display }}</td>
            <td>{{ object.product_transaction|default_if_none:"" }}</td>
            <td>{{ object.banker.get_full_name }}</td>
            <td>{{ object.amount|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Product transactions</h3>
    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    {% for object in product_transactions %}
        <tr>
            <td>{{ object.created }}</td>
            <td>{{ object.get_product_transaction_type_display }}</td>
            <td>{{ object.product }}</td>
            <td>{{ object.abs_quantity }}</td>
            <td>{{ object.transaction_price|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}